.wh-to-header-wrapper{
    position: relative;
     width: 100%;
    height: 100%;
}

.wh-to-header-header{
    background-color: aqua;
    position: absolute;
    width: 116px;
    top: 35px;
    left: 1264px;
    height: 631px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wh-to-header-arrow-1{
    position: absolute;
    width: 15px;
    top: 35px;
    left: 555px;
    transform: rotate(270deg);
}

.wh-to-header-arrow-2{
    position: absolute;
    width: 15px;
    top: 179px;
    left: 555px;
    transform: rotate(270deg);
}

.wh-to-header-arrow-3{
    position: absolute;
    width: 15px;
    top: 322px;
    left: 555px;
    transform: rotate(270deg);
}

.wh-to-header-arrow-4{
    position: absolute;
    width: 15px;
    top: 493px;
    left: 555px;
    transform: rotate(90deg);
}

.wh-to-header-arrow-5{
    position: absolute;
    width: 15px;
    top: 360px;
    left: 1224px;
}

.wh-to-header-arrow-6{
    position: absolute;
    width: 15px;
    top: 69px;
    left: 141px;
}

.wh-to-header-arrow-7{
    position: absolute;
    width: 15px;
    top: 213px;
    left: 141px;
}

.wh-to-header-arrow-8{
    position: absolute;
    width: 15px;
    top: 357px;
    left: 141px;
}

.wh-to-header-arrow-9{
    position: absolute;
    width: 15px;
    top: 212px;
    left: 1226px;
}

.wh-to-header-arrow-10{
    position: absolute;
    width: 15px;
    top: 503px;
    left: 278px;
    transform: rotate(180deg);
}

.wh-to-header-arrow-11{
    position: absolute;
    width: 15px;
    top: 503px;
    left: 1222px;
    transform: rotate(180deg);
}

.wh-to-header-arrow-12{
    position: absolute;
    width: 15px;
    top: 71px;
    left: 1222px;
}

.wh-to-header-wellhead-1{
    position: absolute;
    width: 40px;
    top: 55px;
}

.wh-to-header-valve-1{
    width: 30px;
    top: 44px;
    position: absolute;
    left: 77px;
}

.wh-to-header-horizontal-1{
    width: 36px;
    height: 5px;
    top: 73px;
    position: absolute;
    left: 41px;
}

.wh-to-header-horizontal-2{
    width: 96px;
    height: 5px;
    top: 73px;
    position: absolute;
    left: 107px;
}

.wh-to-header-horizontal-3{
    width: 308px;
    height: 5px;
    top: 74px;
    position: absolute;
    left: 276px;
}

.wh-to-header-horizontal-4{
    width: 392px;
    height: 5px;
    top: 31px;
    position: absolute;
    left: 544px;
}

.wh-to-header-horizontal-5{
    width: 417px;
    height: 5px;
    top: 75px;
    position: absolute;
    left: 848px;
}

.wh-to-header-vertical-1{
    width: 5px;
    height: 38px;
    top: 36px;
    position: absolute;
    left: 560px;
}

.wh-to-header-vertical-2{
    width: 5px;
    height: 38px;
    top: 36px;
    position: absolute;
    left: 869px;
}

.wh-to-header-pl-1{
    height: 30px;
    top: 19px;
    position: absolute;
    left: 363px;
    width: 144px;
}

.wh-to-header-pl-2{
    height: 30px;
    top: 19px;
    position: absolute;
    left: 932px;
    transform: rotate(180deg);
    width: 144px;
}

.wh-to-header-pt-1{
    height: 30px;
    top: 0px;
    position: absolute;
    left: 624px;
}

.wh-to-header-tt-1{
    height: 30px;
    top: 0px;
    position: absolute;
    left: 580px;
}

.wh-to-header-coriolis-1{
    height: 15px;
    top: 26px;
    position: absolute;
    left: 506px;
}

.wh-to-header-coriolis-2{
    height: 15px;
    top: 26px;
    position: absolute;
    left: 891px;
}

.wh-to-header-plank-1{
    height: 10px;
    top: 71px;
    position: absolute;
    transform: rotate(90deg);
    left: 579px;
}

.wh-to-header-plank-2{
    height: 10px;
    top: 72px;
    position: absolute;
    transform: rotate(90deg);
    left: 834px;
}

.wh-to-header-label-1{
    position: absolute;
    top: 126px;
    left: 35px;
}

.wh-to-header-label-2{
    position: absolute;
    top: 81px;
    left: 73px;
}

.wh-to-header-label-3{
    position: absolute;
    top: 23px;
    left: 383px;
}

.wh-to-header-label-4{
    position: absolute;
    top: 23px;
    left: 963px;
}

.wh-to-header-tag-from-1{
    width: max-content;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42px;
    left: 158px;
}

.span-text{
    font-size: 12px;
    font-weight: 700;
    padding: 2px 3px 2px 3px;
}

.span-text-large{
    font-size: 16px;
    font-weight: 700;
    padding: 2px 3px 2px 3px;
}

/*============================================================================================*/

.wh-to-header-wellhead-2{
    position: absolute;
    width: 40px;
    top: 200px;
}

.wh-to-header-valve-2{
    width: 30px;
    top: 190px;
    position: absolute;
    left: 77px;
}

.wh-to-header-horizontal-6{
    width: 36px;
    height: 5px;
    top: 218px;
    position: absolute;
    left: 41px;
}

.wh-to-header-horizontal-7{
    width: 96px;
    height: 5px;
    top: 218px;
    position: absolute;
    left: 107px;
}

.wh-to-header-horizontal-8{
    width: 308px;
    height: 5px;
    top: 218px;
    position: absolute;
    left: 276px;
}

.wh-to-header-horizontal-9{
    width: 392px;
    height: 5px;
    top: 174px;
    position: absolute;
    left: 544px;
}

.wh-to-header-horizontal-10{
    width: 417px;
    height: 5px;
    top: 217px;
    position: absolute;
    left: 848px;
}

.wh-to-header-vertical-3{
    width: 5px;
    height: 38px;
    top: 180px;
    position: absolute;
    left: 560px;
}

.wh-to-header-vertical-4{
    width: 5px;
    height: 38px;
    top: 178px;
    position: absolute;
    left: 869px;
}

.wh-to-header-pl-3{
    height: 30px;
    top: 162px;
    position: absolute;
    left: 363px;
    width: 144px;
}

.wh-to-header-pl-4{
    height: 30px;
    top: 160px;
    position: absolute;
    left: 932px;
    transform: rotate(180deg);
    width: 144px;
}

.wh-to-header-pt-2{
    height: 30px;
    top: 144px;
    position: absolute;
    left: 770px;
}

.wh-to-header-tt-2{
    height: 30px;
    top: 144px;
    position: absolute;
    left: 580px;
}

.wh-to-header-pt-6{
    height: 30px;
    top: 144px;
    position: absolute;
    left: 633px;
}

.wh-to-header-pt-7{
    height: 30px;
    top: 144px;
    position: absolute;
    left: 716px;
}


.wh-to-header-coriolis-3{
    height: 15px;
    top: 169px;
    position: absolute;
    left: 506px;
}

.wh-to-header-coriolis-4{
    height: 15px;
    top: 168px;
    position: absolute;
    left: 891px;
}

.wh-to-header-plank-3{
    height: 10px;
    top: 215px;
    position: absolute;
    transform: rotate(90deg);
    left: 579px;
}

.wh-to-header-plank-4{
    height: 10px;
    top: 214px;
    position: absolute;
    transform: rotate(90deg);
    left: 834px;
}

.wh-to-header-label-5{
    position: absolute;
    top: 271px;
    left: 35px;
}

.wh-to-header-label-6{
    position: absolute;
    top: 227px;
    left: 73px;
}

.wh-to-header-label-7{
    position: absolute;
    top: 165px;
    left: 383px;
}

.wh-to-header-label-8{
    position: absolute;
    top: 164px;
    left: 963px;
}

.wh-to-header-tag-from-2{
    width: max-content;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 187px;
    left: 158px;
}

/*=======================================================================================================*/

.wh-to-header-wellhead-3{
    position: absolute;
    width: 40px;
    top: 345px;
}

.wh-to-header-valve-3{
    width: 30px;
    top: 333px;
    position: absolute;
    left: 77px;
}

.wh-to-header-horizontal-11{
    width: 36px;
    height: 5px;
    top: 362px;
    position: absolute;
    left: 41px;
}

.wh-to-header-horizontal-12{
    width: 96px;
    height: 5px;
    top: 362px;
    position: absolute;
    left: 107px;
}

.wh-to-header-horizontal-13{
    width: 308px;
    height: 5px;
    top: 361px;
    position: absolute;
    left: 276px;
}

.wh-to-header-horizontal-14{
    width: 392px;
    height: 5px;
    top: 319px;
    position: absolute;
    left: 521px;
}

.wh-to-header-horizontal-15{
    width: 417px;
    height: 5px;
    top: 363px;
    position: absolute;
    left: 848px;
}

.wh-to-header-vertical-5{
    width: 5px;
    height: 38px;
    top: 323px;
    position: absolute;
    left: 560px;
}

.wh-to-header-vertical-6{
    width: 5px;
    height: 38px;
    top: 324px;
    position: absolute;
    left: 869px;
}

.wh-to-header-pl-5{
    height: 30px;
    top: 306px;
    position: absolute;
    left: 363px;
    width: 144px;
}

.wh-to-header-pl-6{
    height: 30px;
    top: 305px;
    position: absolute;
    left: 932px;
    transform: rotate(180deg);
    width: 144px;
}

.wh-to-header-pt-3{
    height: 30px;
    top: 289px;
    position: absolute;
    left: 624px;
}

.wh-to-header-tt-3{
    height: 30px;
    top: 289px;
    position: absolute;
    left: 580px;
}

.wh-to-header-coriolis-5{
    height: 15px;
    top: 313px;
    position: absolute;
    left: 506px;
}

.wh-to-header-coriolis-6{
    height: 15px;
    top: 313px;
    position: absolute;
    left: 891px;
}

.wh-to-header-plank-5{
    height: 10px;
    top: 358px;
    position: absolute;
    transform: rotate(90deg);
    left: 579px;
}

.wh-to-header-plank-6{
    height: 10px;
    top: 360px;
    position: absolute;
    transform: rotate(90deg);
    left: 834px;
}

.wh-to-header-plank-51{
    height: 10px;
    top: 316px;
    position: absolute;
    transform: rotate(90deg);
    left: 506px;
}

.wh-to-header-plank-61{
    height: 10px;
    top: 316px;
    position: absolute;
    transform: rotate(90deg);
    left: 909px;
}

.wh-to-header-label-9{
    position: absolute;
    top: 415px;
    left: 35px;
}

.wh-to-header-label-10{
    position: absolute;
    top: 370px;
    left: 73px;
}

.wh-to-header-label-11{
    position: absolute;
    top: 309px;
    left: 383px;
}

.wh-to-header-label-12{
    position: absolute;
    top: 309px;
    left: 963px;
}

.wh-to-header-tag-from-3{
    width: max-content;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 330px;
    left: 158px;
}

/* ========================================================================================================== */

.wh-to-header-wellhead-4{
    position: absolute;
    width: 40px;
    top: 490px;
}

.wh-to-header-valve-4{
    width: 30px;
    top: 479px;
    position: absolute;
    left: 77px;
}

.wh-to-header-horizontal-16{
    width: 117px;
    height: 5px;
    top: 508px;
    position: absolute;
    left: 41px;
}

.wh-to-header-horizontal-17{
    width: 96px;
    height: 5px;
    top: 508px;
    position: absolute;
    left: 107px;
}

.wh-to-header-horizontal-18{
    width: 308px;
    height: 5px;
    top: 507px;
    position: absolute;
    left: 276px;
}

.wh-to-header-horizontal-19{
    width: 392px;
    height: 5px;
    top: 465px;
    position: absolute;
    left: 544px;
}

.wh-to-header-horizontal-20{
    width: 417px;
    height: 5px;
    top: 507px;
    position: absolute;
    left: 848px;
}

.wh-to-header-vertical-7{
    width: 5px;
    height: 38px;
    top: 470px;
    position: absolute;
    left: 560px;
}

.wh-to-header-vertical-8{
    width: 5px;
    height: 38px;
    top: 469px;
    position: absolute;
    left: 869px;
}

.wh-to-header-pl-7{
    height: 30px;
    top: 452px;
    position: absolute;
    left: 363px;
    width: 144px;
}

.wh-to-header-pl-8{
    height: 30px;
    top: 453px;
    position: absolute;
    left: 932px;
    transform: rotate(180deg);
    width: 144px;
}

.wh-to-header-pt-4{
    height: 30px;
    top: 435px;
    position: absolute;
    left: 624px;
}

.wh-to-header-tt-4{
    height: 30px;
    top: 435px;
    position: absolute;
    left: 580px;
}

.wh-to-header-coriolis-7{
    height: 15px;
    top: 460px;
    position: absolute;
    left: 506px;
}

.wh-to-header-coriolis-8{
    height: 15px;
    top: 460px;
    position: absolute;
    left: 891px;
}

.wh-to-header-plank-7{
    height: 10px;
    top: 504px;
    position: absolute;
    transform: rotate(90deg);
    left: 579px;
}

.wh-to-header-plank-8{
    height: 10px;
    top: 504px;
    position: absolute;
    transform: rotate(90deg);
    left: 834px;
}

.wh-to-header-label-13{
    position: absolute;
    top: 560px;
    left: 35px;
}

.wh-to-header-label-14{
    position: absolute;
    top: 515px;
    left: 73px;
}

.wh-to-header-label-15{
    position: absolute;
    top: 455px;
    left: 383px;
}

.wh-to-header-label-16{
    position: absolute;
    top: 457px;
    left: 963px;
}

.wh-to-header-tag-from-4{
    width: max-content;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 476px;
    left: 158px;
}

/*=================================================================================================================================*/
.wh-to-header-horizontal-21{
    width: 36px;
    height: 5px;
    top: 508px;
    position: absolute;
    left: 41px;
}

.wh-to-header-horizontal-22{
    width: 40px;
    height: 5px;
    top: 630px;
    position: absolute;
    left: 148px;
}

.wh-to-header-horizontal-23{
    width: 308px;
    height: 5px;
    top: 631px;
    position: absolute;
    left: 276px;
}

.wh-to-header-horizontal-24{
    width: 392px;
    height: 5px;
    top: 587px;
    position: absolute;
    left: 544px;
}

.wh-to-header-horizontal-25{
    width: 417px;
    height: 5px;
    top: 629px;
    position: absolute;
    left: 848px;
}

.wh-to-header-vertical-9{
    width: 5px;
    height: 38px;
    top: 592px;
    position: absolute;
    left: 560px;
}

.wh-to-header-vertical-10{
    width: 5px;
    height: 38px;
    top: 591px;
    position: absolute;
    left: 869px;
}

.wh-to-header-vertical-11{
    width: 5px;
    height: 118px;
    top: 512px;
    position: absolute;
    left: 148px;
}

.wh-to-header-pl-9{
    height: 30px;
    top: 574px;
    position: absolute;
    left: 363px;
    width: 144px;
}

.wh-to-header-pl-10{
    height: 30px;
    top: 574px;
    position: absolute;
    left: 932px;
    transform: rotate(180deg);
    width: 144px;
}

.wh-to-header-pt-5{
    height: 30px;
    top: 289px;
    position: absolute;
    left: 624px;
}

.wh-to-header-tt-5{
    height: 30px;
    top: 289px;
    position: absolute;
    left: 580px;
}

.wh-to-header-coriolis-9{
    height: 15px;
    top: 581px;
    position: absolute;
    left: 506px;
}

.wh-to-header-coriolis-10{
    height: 15px;
    top: 581px;
    position: absolute;
    left: 891px;
}

.wh-to-header-plank-9{
    height: 10px;
    top: 628px;
    position: absolute;
    transform: rotate(90deg);
    left: 579px;
}

.wh-to-header-plank-10{
    height: 10px;
    top: 626px;
    position: absolute;
    transform: rotate(90deg);
    left: 834px;
}

.wh-to-header-label-17{
    position: absolute;
    top: 560px;
    left: 35px;
}

.wh-to-header-label-18{
    position: absolute;
    top: 515px;
    left: 73px;
}

.wh-to-header-label-19{
    position: absolute;
    top: 578px;
    left: 383px;
}

.wh-to-header-label-20{
    position: absolute;
    top: 578px;
    left: 963px;
}

.wh-to-header-tag-from-5{
    width: max-content;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 599px;
    left: 188px;
}

/*==================================================================================================================*/
.wh-to-header-label-21{
    position: absolute;
    top: 38px;
    left: 580px;
}

.wh-to-header-label-22{
    position: absolute;
    top: 38px;
    left: 624px;
}

.wh-to-header-label-23{
    position: absolute;
    top: 183px;
    left: 580px;
}

.wh-to-header-label-24{
    position: absolute;
    top: 183px;
    left: 773px;
}

.wh-to-header-label-25{
    position: absolute;
    top: 471px;
    left: 580px;
}

.wh-to-header-label-26{
    position: absolute;
    top: 471px;
    left: 624px;
}

.wh-to-header-label-27{
    position: absolute;
    top: 324px;
    left: 580px;
}

.wh-to-header-label-28{
    position: absolute;
    top: 325px;
    left: 624px;
}

.wh-to-header-label-29{
    position: absolute;
    top: 10px;
    left: 693px;
}

.wh-to-header-label-30{
    position: absolute;
    top: 151px;
    left: 800px;
}

.wh-to-header-label-31{
    position: absolute;
    top: 297px;
    left: 693px;
}

.wh-to-header-label-32{
    position: absolute;
    top: 443px;
    left: 693px;
}

.wh-to-header-separator{
    position: absolute;
    top: 0px;
    left: 1151px;
    width: 5px;
    height: 100%;
}

.wh-to-header-monitor-1{
    position: absolute;
    top: 183px;
    left: 604px;
    width: 81px;
}

.wh-to-header-monitor-2{
    position: absolute;
    top: 183px;
    left: 689px;
    width: 81px;
}

.wh-to-header-monitor-tag{
    font-size: 12px;
}

.wh-to-header-monitor-value{
    font-size: 12px;
}

@media only screen and (max-width: 1600px) {
    .wh-to-header-wrapper{
        overflow-x: scroll;
        overflow-y: scroll;
    }
}

