.wtr-dsp-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.wtr-dsp-from-pump{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: rgb(46, 163, 231);
    width: 170px;
}

.top{
    position: absolute;
    top: 28px;
    left: 10px;
}

.bottom{
    position: absolute;
    top: 463px;
    left: 10px;
}

.wtr-dsp-pt-1{
    position: absolute;
    top: 457px;
    left: 662px;
    width: 30px;
}

.wtr-dsp-pt-2{
    position: absolute;
    top: 457px;
    left: 722px;
    width: 30px;
}

.wtr-dsp-pipe-horizontal-1{
    width: 133px;
    height: 5px;
    position: absolute;
    top: 41px;
    left: 180px;
}

.wtr-dsp-pipe-horizontal-2{
    width: 133px;
    height: 5px;
    position: absolute;
    top: 476px;
    left: 180px;
}

.wtr-dsp-pipe-horizontal-3{
    width: 102px;
    height: 5px;
    position: absolute;
    top: 75px;
    left: 212px;
}

.wtr-dsp-pipe-horizontal-4{
    width: 100px;
    height: 5px;
    position: absolute;
    top: 506px;
    left: 213px;
}

.wtr-dsp-pipe-horizontal-5{
    width: 21px;
    height: 5px;
    position: absolute;
    top: 186px;
    left: 350px;
}
.wtr-dsp-pipe-horizontal-6{
    width: 21px;
    height: 5px;
    position: absolute;
    top: 614px;
    left: 351px;
}
.wtr-dsp-pipe-horizontal-7{
    width: 21px;
    height: 5px;
    position: absolute;
    top: 186px;
    left: 612px;
}

.wtr-dsp-pipe-horizontal-8{
    width: 21px;
    height: 5px;
    position: absolute;
    top: 614px;
    left: 612px;
}

.wtr-dsp-pipe-horizontal-9{
    width: 168px;
    height: 5px;
    position: absolute;
    top: 186px;
    left: 407px;
}

.wtr-dsp-pipe-horizontal-10{
    width: 168px;
    height: 5px;
    position: absolute;
    top: 614px;
    left: 407px;
}

.wtr-dsp-pipe-horizontal-11{
    width: 512px;
    height: 5px;
    position: absolute;
    top: 15px;
    left: 672px;
}

.wtr-dsp-pipe-horizontal-12{
    width: 536px;
    height: 5px;
    position: absolute;
    top: 497px;
    left: 650px;
}

.wtr-dsp-pipe-horizontal-13{
    width: 396px;
    height: 5px;
    position: absolute;
    top: 126px;
    left: 885px;
}

.wtr-dsp-pipe-horizontal-14{
    width: 337px;
    height: 5px;
    position: absolute;
    top: 218px;
    left: 1008px;
}

.wtr-dsp-pipe-horizontal-15{
    width: 148px;
    height: 5px;
    position: absolute;
    top: 340px;
    left: 1132px;
}

.wtr-dsp-pipe-horizontal-16{
    width: 49px;
    height: 5px;
    position: absolute;
    top: 271px;
    left: 1348px;
}

.wtr-dsp-pipe-horizontal-17{
    width: 80px;
    height: 5px;
    position: absolute;
    top: 159px;
    left: 1349px;
}

.wtr-dsp-pipe-horizontal-18{
    width: 378px;
    height: 5px;
    position: absolute;
    top: 611px;
    left: 1039px;
}

.wtr-dsp-pipe-vertical-1{
    width: 5px;
    height: 83px;
    position: absolute;
    top: 41px;
    left: 313px;
}

.wtr-dsp-pipe-vertical-2{
    width: 5px;
    height: 18px;
    position: absolute;
    top: 158px;
    left: 313px;
}

.wtr-dsp-pipe-vertical-3{
    width: 5px;
    height: 46px;
    position: absolute;
    top: 75px;
    left: 208px;
}

.wtr-dsp-pipe-vertical-4{
    width: 5px;
    height: 19px;
    position: absolute;
    top: 157px;
    left: 208px;
}

.wtr-dsp-pipe-vertical-5{
    width: 5px;
    height: 83px;
    position: absolute;
    top: 476px;
    left: 313px;
}

.wtr-dsp-pipe-vertical-6{
    width: 5px;
    height: 35px;
    position: absolute;
    top: 569px;
    left: 313px;
}

.wtr-dsp-pipe-vertical-7{
    width: 5px;
    height: 41px;
    position: absolute;
    top: 506px;
    left: 209px;
}

.wtr-dsp-pipe-vertical-8{
    width: 5px;
    height: 30px;
    position: absolute;
    top: 574px;
    left: 209px;
}

.wtr-dsp-pipe-vertical-9{
    width: 5px;
    height: 19px;
    position: absolute;
    top: 157px;
    left: 673px;
}

.wtr-dsp-pipe-vertical-10{
    width: 5px;
    height: 30px;
    position: absolute;
    top: 574px;
    left: 650px;
}

.wtr-dsp-pipe-vertical-11{
    width: 5px;
    height: 18px;
    position: absolute;
    top: 158px;
    left: 773px;
}

.wtr-dsp-pipe-vertical-12{
    width: 5px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 672px;
}

.wtr-dsp-pipe-vertical-13{
    width: 5px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 773px;
}

.wtr-dsp-pipe-vertical-14{
    width: 5px;
    height: 30px;
    position: absolute;
    top: 574px;
    left: 781px;
}

.wtr-dsp-pipe-vertical-15{
    width: 5px;
    height: 45px;
    position: absolute;
    top: 502px;
    left: 650px;
}

.wtr-dsp-pipe-vertical-16{
    width: 5px;
    height: 45px;
    position: absolute;
    top: 502px;
    left: 781px;
}

.wtr-dsp-pipe-vertical-17{
    width: 5px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 878px;
}

.wtr-dsp-pipe-vertical-18{
    width: 5px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 1003px;
}

.wtr-dsp-pipe-vertical-19{
    width: 5px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 1127px;
}

.wtr-dsp-pipe-vertical-20{
    width: 5px;
    height: 10px;
    position: absolute;
    top: 57px;
    left: 879px;
}

.wtr-dsp-pipe-vertical-21{
    width: 5px;
    height: 10px;
    position: absolute;
    top: 57px;
    left: 1003px;
}

.wtr-dsp-pipe-vertical-22{
    width: 5px;
    height: 10px;
    position: absolute;
    top: 57px;
    left: 1127px;
}

.wtr-dsp-pipe-vertical-23{
    width: 5px;
    height: 262px;
    position: absolute;
    top: 104px;
    left: 880px;
}

.wtr-dsp-pipe-vertical-24{
    width: 5px;
    height: 262px;
    position: absolute;
    top: 104px;
    left: 1003px;
}

.wtr-dsp-pipe-vertical-25{
    width: 5px;
    height: 262px;
    position: absolute;
    top: 104px;
    left: 1127px;
}

.wtr-dsp-pipe-vertical-26{
    width: 5px;
    height: 22px;
    position: absolute;
    top: 404px;
    left: 881px;
}

.wtr-dsp-pipe-vertical-27{
    width: 5px;
    height: 22px;
    position: absolute;
    top: 404px;
    left: 1003px;
}

.wtr-dsp-pipe-vertical-28{
    width: 5px;
    height: 22px;
    position: absolute;
    top: 404px;
    left: 1127px;
}

.wtr-dsp-pipe-vertical-29{
    width: 5px;
    height: 24px;
    position: absolute;
    top: 442px;
    left: 881px;
}

.wtr-dsp-pipe-vertical-30{
    width: 5px;
    height: 24px;
    position: absolute;
    top: 442px;
    left: 1004px;
}

.wtr-dsp-pipe-vertical-31{
    width: 5px;
    height: 24px;
    position: absolute;
    top: 442px;
    left: 1128px;
}

.wtr-dsp-pipe-vertical-32{
    width: 5px;
    height: 23px;
    position: absolute;
    top: 474px;
    left: 882px;
}

.wtr-dsp-pipe-vertical-33{
    width: 5px;
    height: 23px;
    position: absolute;
    top: 474px;
    left: 1005px;
}

.wtr-dsp-pipe-vertical-34{
    width: 5px;
    height: 23px;
    position: absolute;
    top: 474px;
    left: 1128px;
}

.wtr-dsp-pipe-vertical-35{
    width: 5px;
    height: 117px;
    position: absolute;
    top: 159px;
    left: 1344px;
}

.wtr-dsp-pipe-vertical-36{
    width: 5px;
    height: 29px;
    position: absolute;
    top: 502px;
    left: 1039px;
}

.wtr-dsp-pipe-vertical-37{
    width: 5px;
    height: 69px;
    position: absolute;
    top: 541px;
    left: 1039px;
}

.wtr-dsp-pipe-vertical-38{
    width: 5px;
    height: 281px;
    position: absolute;
    top: 20px;
    left: 834px;
}

.wtr-dsp-pipe-vertical-39{
    width: 5px;
    height: 10px;
    position: absolute;
    top: 57px;
    left: 898px;
}

.wtr-dsp-pipe-vertical-40{
    width: 5px;
    height: 199px;
    position: absolute;
    top: 300px;
    left: 834px;
}

.wtr-dsp-pipe-vertical-41{
    width: 5px;
    height: 22px;
    position: absolute;
    top: 404px;
    left: 898px;
}

.wtr-dsp-pipe-vertical-42{
    width: 5px;
    height: 24px;
    position: absolute;
    top: 442px;
    left: 899px;
}
.wtr-dsp-pipe-vertical-43{
    width: 5px;
    height: 23px;
    position: absolute;
    top: 474px;
    left: 899px;
}



.wtr-dsp-pl-1{
    position: absolute;
    top: 173px;
    left: 177px;
    height: 30px;
}

.wtr-dsp-pl-2{
    position: absolute;
    top: 601px;
    left: 177px;
    height: 30px;
}
.wtr-dsp-pl-3{
    position: absolute;
    top: 173px;
    left: 633px;
    height: 30px;
    transform: rotate(180deg);
}

.wtr-dsp-pl-4{
    position: absolute;
    top: 601px;
    left: 633px;
    height: 30px;
    transform: rotate(180deg);
}

.wtr-dsp-coriolis-1{
    position: absolute;
    top: 132px;
    left: 296px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-2{
    position: absolute;
    top: 131px;
    left: 191px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-3{
    position: absolute;
    top: 559px;
    left: 296px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-4{
    position: absolute;
    top: 559px;
    left: 192px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-5{
    position: absolute;
    top: 181px;
    left: 370px;
    height: 15px;
}

.wtr-dsp-coriolis-6{
    position: absolute;
    top: 609px;
    left: 372px;
    height: 15px;
}

.wtr-dsp-coriolis-7{
    position: absolute;
    top: 181px;
    left: 575px;
    height: 15px;
}

.wtr-dsp-coriolis-8{
    position: absolute;
    top: 609px;
    left: 575px;
    height: 15px;
}

.wtr-dsp-coriolis-9{
    position: absolute;
    top: 131px;
    left: 656px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-10{
    position: absolute;
    top: 559px;
    left: 633px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-11{
    position: absolute;
    top: 131px;
    left: 756px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-12{
    position: absolute;
    top: 559px;
    left: 764px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-13{
    position: absolute;
    top: 79px;
    left: 863px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-14{
    position: absolute;
    top: 79px;
    left: 986px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-15{
    position: absolute;
    top: 79px;
    left: 1110px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-16{
    position: absolute;
    top: 379px;
    left: 864px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-17{
    position: absolute;
    top: 379px;
    left: 986px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-18{
    position: absolute;
    top: 379px;
    left: 1110px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-19{
    position: absolute;
    top: 269px;
    left: 816px;
    transform: rotate(90deg);
    height: 15px;
}

.wtr-dsp-coriolis-20{
    position: absolute;
    top: 379px;
    left: 881px;
    transform: rotate(90deg);
    height: 15px;
}


.wtr-dsp-plank-1{
    position: absolute;
    top: 13px;
    left: 1182px;
    transform: rotate(90deg);
    height: 8px;
}

.wtr-dsp-plank-2{
    position: absolute;
    top: 49px;
    left: 874px;
    height: 8px;
}

.wtr-dsp-plank-3{
    position: absolute;
    top: 49px;
    left: 998px;
    height: 8px;
}

.wtr-dsp-plank-4{
    position: absolute;
    top: 49px;
    left: 1122px;
    height: 8px;
}

.wtr-dsp-plank-5{
    position: absolute;
    top: 465px;
    left: 877px;
    height: 8px;
}

.wtr-dsp-plank-6{
    position: absolute;
    top: 465px;
    left: 1000px;
    height: 8px;
}

.wtr-dsp-plank-7{
    position: absolute;
    top: 465px;
    left: 1123px;
    height: 8px;
}

.wtr-dsp-plank-8{
    position: absolute;
    top: 532px;
    left: 1035px;
    height: 8px;
}

.wtr-dsp-plank-9{
    position: absolute;
    top: 495px;
    left: 1184px;
    transform: rotate(90deg);
    height: 8px;
}

.wtr-dsp-plank-10{
    position: absolute;
    top: 49px;
    left: 894px;
    height: 8px;
}

.wtr-dsp-plank-11{
    position: absolute;
    top: 465px;
    left: 895px;
    height: 8px;
}

.wtr-dsp-meter-1{
    position: absolute;
    top: 424px;
    left: 875px;
    transform: rotate(90deg);
    height: 20px;
}

.wtr-dsp-meter-2{
    position: absolute;
    top: 424px;
    left: 997px;
    transform: rotate(90deg);
    height: 20px;
}

.wtr-dsp-meter-3{
    position: absolute;
    top: 424px;
    left: 1121px;
    transform: rotate(90deg);
    height: 20px;
}

.wtr-dsp-meter-4{
    position: absolute;
    top: 424px;
    left: 892px;
    transform: rotate(90deg);
    height: 20px;
}

.wtr-dsp-wellhead-1{
    position: absolute;
    top: 108px;
    left: 1280px;
    width: 40px;
}

.wtr-dsp-wellhead-2{
    position: absolute;
    top: 141px;
    left: 1396px;
    width: 40px;
}


.wtr-dsp-wellhead-3{
    position: absolute;
    top: 253px;
    left: 1396px;
    width: 40px;
}


.wtr-dsp-wellhead-4{
    position: absolute;
    top: 322px;
    left: 1278px;
    width: 40px;
}

.wtr-dsp-label-1{
    position: absolute;
    top: 175px;
    left: 234px;
}

.wtr-dsp-label-2{
    position: absolute;
    top: 600px;
    left: 234px;
}

.wtr-dsp-label-3{
    position: absolute;
    top: 175px;
    left: 701px;
}

.wtr-dsp-label-4{
    position: absolute;
    top: 602px;
    left: 652px;
}

.wtr-dsp-label-5{
    position: absolute;
    top: 91px;
    left: 1312px;
    width: 100px;
}

.wtr-dsp-label-6{
    position: absolute;
    top: 127px;
    left: 1425px;
    width: 100px;
}

.wtr-dsp-label-7{
    position: absolute;
    top: 279px;
    left: 1424px;
    width: 100px;
}

.wtr-dsp-label-8{
    position: absolute;
    top: 347px;
    left: 1308px;
    width: 100px;
}

.wtr-dsp-label-9{
    position: absolute;
    top: 599px;
    left: 1369px;
    width: 155px;
}

.wtr-dsp-label-10{
    position: absolute;
    top: 501px;
    left: 669px;
    width: 121px;
}

.wtr-dsp-label-11{
    position: absolute;
    top: 501px;
    left: 727px;
    width: 155px;
}

.wtr-dsp-monitor-1{
    position: absolute;
    top: 399px;
    left: 895px;
    width: 93px;
}

.wtr-dsp-monitor-2{
    position: absolute;
    top: 398px;
    left: 1017px;
    width: 93px;
}

.wtr-dsp-monitor-3{
    position: absolute;
    top: 398px;
    left: 1143px;
    width: 93px;
}

.wtr-dsp-monitor-tag{
    font-size: 12px;
}

.wtr-dsp-monitor-value{
    font-size: 12px;
}




@media only screen and (max-width: 1600px) {
    .wtr-dsp-wrapper{
        overflow-x: scroll;
        overflow-y: scroll;
    }
}
