.wrap-well{
    position: relative;
     width: 100%;
    height: 100%;
}
.padb-well-12-wrapper-bottom{
    position: relative;
    width: 100%;
    height: 100%;
}
.padb-well-12-vertival-left-side{
    width: 10px;
    height: 150px;
}
.padb-well-12-vertival-left-bottom-bow{
    width: 10px;
    height: 10px;
}
.padb-well-12-horizontal-bottom-side-one{
    height: 10px;
    width: 101px;
    position: absolute;
    top: 161px;
    left: 10px;
}
.padb-well-12-pcv-bottom-side{
    width: 30px;
    position: absolute;
    left: 22%;
    top: 135px;
}
.padb-well-12-horizontal-bottom-side-two{
    height: 10px;
    width: 112px;
    position: absolute;
    top: 161px;
    left: 140px;
}
.padb-well-12-wellhead{
    position: absolute;
    width: 45px;
    height: 85px;
    left: 249px;
    top: 148px;
}
.padb-well-12-vertical-from-wellhead{
    width: 13px;
    height: 25px;
    position: absolute;
    left: 264px;
    top: 124px;
}
.padb-well-12-wellhead-black-box{
    width:20px;
    height: 20px;
    position: absolute;
    left:53%;
    top:110px
}
.padb-well-12-vertical-from-wellhead-to-valve{
    width: 13px;
    height: 15px;
    position: absolute;
    left: 264px;
    top: 95px;
}
.padb-well-12-valve-to-indicator{
    height: 10px;
    transform: rotate(90deg);
    position: absolute;
    left: 257px;
    top: 76px;
}
.padb-well-12-vertical-from-wellhead-to-indicator{
    width: 5px;
    height: 15px;
    position: absolute;
    left: 268px;
    top: 52px;
}
.padb-well-12-horizontal-from-wellhead-to-indicator{
    width: 194px;
    height: 5px;
    position: absolute;
    left: 16%;
    top: 47px;
}
.padb-well-12-wellhead-gauge{
    height: 30px;
    position: absolute;
    left:35%;
    top:18px
}
.padb-well-12-wellhead-indicator{
    height: 30px;
    position: absolute;
    left:16%;
    top:18px
}
.padb-well-12-horizontal-from-box{
    height: 10px;
    width: 45px;
    position: absolute;
    top: 115px;
    left: 284px;
}
.padb-well-12-pcv-from-box-to-safety{
    width: 30px;
    position: absolute;
    left: 66%;
    top: 90px;
}
.padb-well-12-horizontal-to-safety{
    height: 10px;
    width: 39px;
    position: absolute;
    top: 115px;
    left: 360px;
}
.padb-well-12-sv-from-pcv{
    transform: rotate(90deg);
    width: 20px;
    position: absolute;
    left: 402px;
    top: 103px;
}
.padb-well-12-vertical-from-safety{
    width: 10px;
    height: 97px;
    position: absolute;
    left:82%;
    top:8px
}
.padb-well-12-lbl-to-plant{
    font-size: 9px;
    font-weight: bolder;
    background-color: aqua;
    position: absolute;
    top:10px;
    left:85%
}
.padb-well-12-lbl-pcv-to-wellhead{
    width: 50px;
    font-size: 11px;
    font-weight: bolder;
    background-color: rgb(80, 255, 112);
    position: absolute;
    top:180px;
    left:19%
}

/* PSHH */
.padb-well-12-pshh-3012{
    position: absolute;
    top: 54px;
    left: 57px;
}
.padb-well-12-txt-pshh-3012{
    background-color: black;
    font-size: xx-small;
}
.padb-well-12-indicator-pshh-3012{
    font-size: xx-small;
}

/* PT */
.padb-well-12-pt-3012{
    position: absolute;
    top: 54px;
    left: 158px;
}
.padb-well-12-txt-pt-3012{
    background-color: black;
    font-size: xx-small;
}
.padb-well-12-indicator-pt-3012{
    font-size: xx-small;
}

/* SDV-1123 */
.padb-well-12-sdv-1123{
    position: absolute;
    top: 174px;
    left: 93px;
}
.padb-well-12-txt-sdv-1123{
    background-color: black;
    font-size: xx-small;
}
.padb-well-12-indicator-sdv-1123{
    font-size: xx-small;
}

/* SDV-1122 */
.padb-well-12-sdv-1122{
    position: absolute;
    top: 127px;
    left: 310px;
}
.padb-well-12-txt-sdv-1122{
    background-color: black;
    font-size: xx-small;
}
.padb-well-12-indicator-sdv-1122{
    font-size: xx-small;
}

.bg-normal{
    background-color:#74ed00;
}
.bg-error{
    background-color: #ec1e24;
}