.ws-indicator{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ws-tag{
    padding: 3px;
    font-size: 14px;
}

.ws-indicator:hover{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}