.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.tableHeader {
  background-color: #0d6efd;
  padding: 12px;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
  color: #fff;
}

.tableHeader:first-child {
  border-top-left-radius: 10px;
}

.tableHeader:last-child {
  border-top-right-radius: 10px;
}

.tableRowItems {
  cursor: auto;
  border-bottom: 0.5px solid #b9b9b9;
}
.tableRowItems:hover {
  cursor: auto;
  border-bottom: 0.5px solid #b9b9b9;
  opacity: 70%;
  color: #000;
}

.tableRowItems:nth-child(odd) {
  background-color: #f9f9f9;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #2c3e50;
}
.cellError {
  padding: 12px;
  font-size: 14px;
  background-color: #ff3b3b;
  color: #ffffff;
}