.wrap-well{
    position: relative;
     width: 100%;
    height: 100%;
}
.horizontal-pipe-1{
    height: 10px;
    width: 445px;
    position: absolute;
    top: 0px;
    left: 10px;
}
.wrapper-bottom{
    position: relative;
    width: 100%;
    height: 100%;
}
.vertival-left-side{
    width: 10px;
    height: 150px;
}
.vertival-left-bottom-bow{
    width: 10px;
    height: 10px;
}
.horizontal-bottom-side-one{
    height: 10px;
    width: 101px;
    position: absolute;
    top: 161px;
    left: 10px;
}
.pcv-bottom-side{
    width: 30px;
    position: absolute;
    left: 110px;
    top: 135px;
}
.horizontal-bottom-side-two{
    height: 10px;
    width: 112px;
    position: absolute;
    top: 161px;
    left: 140px;
}
.wellhead{
    position: absolute;
    width: 45px;
    height: 85px;
    left: 249px;
    top: 148px;
}
.vertical-from-wellhead{
    width: 13px;
    height: 25px;
    position: absolute;
    left: 264px;
    top: 124px;
}
.wellhead-black-box{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 264px;
    top: 110px;
}
.vertical-from-wellhead-to-valve{
    width: 13px;
    height: 15px;
    position: absolute;
    left: 264px;
    top: 95px;
}
.valve-to-indicator{
    height: 10px;
    transform: rotate(90deg);
    position: absolute;
    left: 257px;
    top: 76px;
}
.vertical-from-wellhead-to-indicator{
    width: 5px;
    height: 15px;
    position: absolute;
    left: 268px;
    top: 52px;
}
.horizontal-from-wellhead-to-indicator{
    width: 212px;
    height: 5px;
    position: absolute;
    left: 61px;
    top: 47px;
}
.wellhead-gauge{
    /* height: 30px; */
    /* position: absolute; */
    /* left: 130px; */
    /* top: 18px; */
    height: 30px;
    position: absolute;
    left: 260px;
    top: 21px;
}
.wellhead-indicator{
    height: 30px;
    position: absolute;
    left: 55px;
    top: 18px;
}
.horizontal-from-box{
    height: 10px;
    width: 45px;
    position: absolute;
    top: 115px;
    left: 284px;
}
.pcv-from-box-to-safety{
    width: 30px;
    position: absolute;
    left: 329px;
    top: 90px;
}
.horizontal-to-safety{
    height: 10px;
    width: 39px;
    position: absolute;
    top: 115px;
    left: 360px;
}
.sv-from-pcv{
    transform: rotate(90deg);
    width: 20px;
    position: absolute;
    left: 402px;
    top: 103px;
}
.vertical-from-safety{
    width: 10px;
    height: 97px;
    position: absolute;
    left: 408px;
    top: 8px;
}
.lbl-to-plant{
    font-size: 9px;
    font-weight: bolder;
    background-color: aqua;
    position: absolute;
    top: 10px;
    left: 426px;
}
.lbl-pcv-to-wellhead{
    width: 50px;
    font-size: 11px;
    font-weight: bolder;
    background-color: rgb(80, 255, 112);
    position: absolute;
    top:180px;
    left:19%
}

/* PSHH */
.pshh-3001{
    position: absolute;
    top: 54px;
    left: 33px;
    width: 87px;
}
.txt-pshh-3001{
    background-color: black;
    font-size: 12px;
}

.indicator-pshh-3001{
    font-size: 12px;
}

/* PT */
.pt-3001{
    /* position: absolute; */
    /* top: 54px; */
    /* left: 113px; */
    position: absolute;
    top: 15px;
    left: 141px;
    width: 117px;
}
.txt-pt-3001{
    background-color: black;
    font-size: 16px;
}
.indicator-pt-3001{
    font-size: 16px;
}

/* SDV-1013 */
.sdv-1013{
    position: absolute;
    top: 174px;
    left: 82px;
}
.txt-sdv-1013{
    background-color: black;
    font-size: 14px;
}
.indicator-sdv-1013{
    font-size: 14px;
}

/* SDV-1012 */
.sdv-1012{
    position: absolute;
    top: 127px;
    left: 310px;
}
.txt-sdv-1012{
    background-color: black;
    font-size: 14px;
}
.indicator-sdv-1012{
    font-size: 14px;
}

.bg-normal{
    background-color:#74ed00;
}
.bg-error{
    background-color: #ec1e24;
}

.wellhead-arrow-1{
    position: absolute;
    top: -2px;
    left: 450px;
    width: 18px;
}

@media only screen and (max-width: 1600px) {
    .wrap-well{
        overflow-x: scroll;
        overflow-y: scroll;
    }
}